/* global.css */

body {
  font-family: Arial, sans-serif;
  background-color: #F5F5F5;
  color: #333;
  margin: 0;
  padding: 0;
}

main {
  margin: 0 auto;
  width: 80%;
  max-width: 1400px;
  padding: 20px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  background-color: #FFFFFF;
  border-radius: 8px;
  margin-top: 50px;
}

.title-section {
  text-align: center;
  margin-bottom: 50px;
}

.content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2 {
  color: #333;
  margin-top: 20px;
  text-align: center;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  height: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  background-color: #45a049;
}

select, input {
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  margin: 20px 0;
  display: block;
  height: 40px;
}

.chain-section, .message-section, .token-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  width: 100%;
}

.chain-box, .message-box, .token-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  background-color: #EFEFEF;
  width: 45%;
}

.chain-arrow, .message-arrow, .token-arrow {
  font-size: 2em;
}

p {
  color: #666;
  margin: 10px 0;
  text-align: center;
}
